
a{color:var(--links);text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}
.clear{clear:both;overflow:hidden}
.pdfhomepagemain img{border:0 !important;outline:0 !important}
.pdfhomepagemain a img{outline:none}
a{outline:none;cursor:pointer}
a:active,a:focus{outline:none}
:active,:focus{outline:none;-moz-outline-style:none}
:link:focus,:visited:focus{outline:none}
html{overflow-y:scroll;overflow-x:hidden;}
html,body{height:100%;width:100%;position:relative;font-family: 'Arial', sans-serif;}
button{cursor: pointer;word-wrap:break-word!important;white-space:unset!important;overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;line-height:normal!important}
body{background-color: #000;margin: 0;}

.pdfhomepagemain{margin: 0;padding: 0;}
.pdfmaincontainer{margin: 0 auto;padding: 0;display: block;width:892px;background-image: url(../images/common/pdfbgoverlay.png);background-repeat: no-repeat;background-position:center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;display:block;position: relative;padding-bottom: 40px;}
.pdfheaderblock{margin: 0 auto;padding: 0;display: block;width:100%;background-image: url(../images/common/pdfheaderbg.png);background-repeat: no-repeat;background-position:left top;-webkit-background-size: 100% auto;-moz-background-size: 100% auto;-o-background-size: 100% auto;background-size: 100% auto;display:block;min-height: 106px;}
.pdfheaderblockinner{padding:15px}
.pdffooterblock{margin: 0 auto;padding: 0;display: block;width:100%;background-image: url(../images/common/pdffooterrbg.png);background-repeat: no-repeat;background-position:left top;-webkit-background-size: 100% auto;-moz-background-size: 100% auto;-o-background-size: 100% auto;background-size: 100% auto;display:block;min-height: 87px;position: absolute;bottom: 0;}
.pdfmaincontent{position: relative;z-index: 9;}
.pdfmaincontentinner{width: 90%;margin: 0 auto;padding: 0;display: block;}

.pdfheaderblock .pdflogowrapper{width: 302px;display: block;}
.pdfheaderblock .pdflogowrapper img{width:100%}
.pdfmaincontent h2{margin: 0;padding: 0;color:#b6e600;text-transform: uppercase;}
.pdfmaincontent h2 span{text-transform: capitalize;}
.pdfmaincontent h1{margin: 0;padding: 0;color:#fff;text-transform: uppercase;}
.pdfmaincontent p{margin: 0;padding: 0;color:#fff;line-height: 30px;}
.pdfmaincontent h4{margin: 0;padding: 0;color:#fff;}
.pdfmaincontent h3{margin: 0;padding: 0;color:#fff;}


/*-----------START SLIDE 18 CSS-----------*/
.slide18 .pdfmaincontent p{padding-left: 35%;margin-top: -5%;font-size: 40px;font-weight: 600;line-height: 35px;}
.slide18 .pdfmaincontent p span{color:#b6e600;}
.slide18 .pdfmaincontent .pdfmaincontentslide19inner{margin-top: 30px;display: flex;align-items: flex-start;}
.slide18 .pdfmaincontent h2 {text-transform: capitalize;}
.pdfmaincontenttop{margin-top: 20px;}
.slide18 .pdfmaincontenttop p{padding-left: 0;margin-top: 0;font-size: 18px;font-weight: 400;line-height: 28px;margin-bottom: 25px;}
.slide18 .pdfmaincontenttop h3{font-size: 20px;font-weight: 600;line-height: 26px;margin-bottom: 10px;}
.slide18 .pdfmaincontenttop h3 span{color:#b6e600;}
/*-----------END SLIDE 18 CSS-----------*/

/*-----------START SLIDE 19 CSS-----------*/
.slide19 .pdfmaincontent p{padding-left: 35%;margin-top: -5%;font-size: 40px;font-weight: 600;line-height: 35px;}
.slide19 .pdfmaincontent p span{color:#b6e600;}
.slide19 .pdfmaincontent .pdfmaincontentlists{margin-top: 30px;display: flex;align-items: flex-start;}
.slide19 .pdfmaincontent .pdfmaincontentlists ul li{padding-left: 0 !important;margin-top: 0 !important;font-size: 14px !important;line-height: 18px;color: #fff;width: 100%;padding: 0;margin-bottom: 8px;}
.slide19 .pdfmaincontent .pdfmaincontentlists ul li::before{content: "\2022";color: #b6e600ff;display: inline-block;width: 10px;margin-left: -17px;font-size: 38px; height: 10px;position: absolute;}
.slide19 .pdfmaincontent .pdfmaincontentlists ul{display: flex;align-items: flex-start;justify-content: flex-start;padding: 0;flex-wrap: wrap;list-style: none;padding-left: 16px;}
.slide19 .pdfmaincontentlistsleft{margin-right: 15px;}
.slide19 .pdfmaincontent h2 {text-transform: capitalize;}
.pdfmaincontenttop{margin-top: 20px;}
.slide19 .pdfmaincontenttop p{padding-left: 0;margin-top: 0;font-size: 18px;font-weight: 400;line-height: 21px;}
.slide19 .pdfmaincontenttop h3{font-size: 24px;font-weight: 600;line-height: 26px;margin-bottom: 10px;}
/*-----------END SLIDE 19 CSS-----------*/

/*-----------START SLIDE 20 CSS-----------*/
.slide20 .pdfmaincontent p{padding-left: 38%;margin-top: -6%;font-size: 26px;font-weight: 600;line-height: 31px;}
.slide20 .pdfmaincontent p span{color:#b6e600;}
.slide20 .pdfmaincontent .pdfmaincontentlists{margin-top: 30px;}
.slide20 .pdfmaincontent .pdfmaincontentlists ul li{padding-left: 0 !important;margin-top: 0 !important;font-size: 14px !important;line-height: 18px;color: #fff;width: 22%;padding: 0 1%; margin: 0 1% 1%;}
.slide20 .pdfmaincontent .pdfmaincontentlists ul li::before{content: "\2022";color: #b6e600ff;display: inline-block;width: 10px;margin-left: -17px;font-size: 38px; height: 10px;position: absolute;}
.slide20 .pdfmaincontent .pdfmaincontentlists ul{display: flex;align-items: flex-start;justify-content: flex-start;padding: 0;flex-wrap: wrap;list-style: none;    margin: 0 -1%;padding-left: 8px;}
/*-----------END SLIDE 20 CSS-----------*/

/*-----------START SLIDE 21 CSS-----------*/
.slide21 .pdfmaincontent p{padding-left: 38%;margin-top: -6%;font-size: 24px;font-weight: 600;line-height: 28px;}
.slide21 .pdfmaincontent p span{color:#b6e600;}
.slide21 .pdfmaincontent .pdfmaincontentinnerbottom{margin-top: 30px;display: flex;align-items: flex-start;justify-content: space-between;}
.slide21 .pdfmaincontentinnerbottominner{width: 45%;}
.slide21 .pdfmaincontentinnerbottominner p{padding-left: 0 !important;margin-top: 0 !important;font-size: 22px !important;line-height: 34px;}
.slide21 .pdfmaincontentinnerbottom .pdfmainimgwrapper{background-color: #eeeeeeff;padding: 8px;width: 69%;}
.slide21 .pdfmaincontentinnerbottom .pdfmainimgwrapper img{width:100%}
/*-----------END SLIDE 21 CSS-----------*/

/*-----------START SLIDE 22 CSS-----------*/
.slide22 .pdfmaincontent p{padding-left: 38%;margin-top: -6%;font-size: 24px;font-weight: 600;line-height: 31px;}
.slide22 .pdfmaincontent p span{color:#b6e600;}
.slide22 .pdfmaincontent .pdfmaincontentinnerbottom{margin-top: 30px;display: flex;align-items: flex-start;justify-content: space-between;}
.slide22 .pdfmaincontentinnerbottominner{width: 45%;}
.slide22 .pdfmaincontentinnerbottominner p{padding-left: 0 !important;margin-top: 0 !important;font-size: 18px !important;line-height: 26px;}
.slide22 .pdfmaincontentinnerbottom .pdfmainimgwrapper{background-color: #eeeeeeff;padding: 8px;width: 69%;}
.slide22 .pdfmaincontentinnerbottom .pdfmainimgwrapper img{width:100%}
/*-----------END SLIDE 22 CSS-----------*/

/*-----------START SLIDE 23 CSS-----------*/
.slide23 .pdfmaincontent p{padding-left: 38%;margin-top: -6%;font-size: 26px;font-weight: 600;line-height: 31px;}
.slide23 .pdfmaincontent p span{color:#b6e600;}
.slide23 .pdfmaincontent .pdfmaincontentinnerbottom{margin-top: 30px;display: flex;align-items: flex-start;justify-content: space-between;}
.slide23 .pdfmaincontentinnerbottominner{width: 45%;}
.slide23 .pdfmaincontentinnerbottominner p{padding-left: 0 !important;margin-top: 0 !important;font-size: 18px !important;line-height: 26px;}
.slide23 .pdfmaincontentinnerbottom .pdfmainimgwrapper{background-color: #eeeeeeff;padding: 8px;width: 69%;}
.slide23 .pdfmaincontentinnerbottom .pdfmainimgwrapper img{width:100%}
/*-----------END SLIDE 23 CSS-----------*/

/*-----------START SLIDE 24 CSS-----------*/
.slide24 .pdfmaincontent p{padding-left: 38%;margin-top: -6%;font-size: 26px;font-weight: 600;line-height: 31px;}
.slide24 .pdfmaincontent p span{color:#b6e600;}
.slide24 .pdfmaincontent .pdfmaincontentinnerbottom{margin-top: 30px;display: flex;align-items: flex-start;justify-content: space-between;}
.slide24 .pdfmaincontentinnerbottominner{width: 45%;}
.slide24 .pdfmaincontentinnerbottominner p{padding-left: 0 !important;margin-top: 0 !important;font-size: 19px !important;line-height: 31px;}
.slide24 .pdfmaincontentinnerbottom .pdfmainimgwrapper{background-color: #eeeeeeff;padding: 8px;width: 69%;}
.slide24 .pdfmaincontentinnerbottom .pdfmainimgwrapper img{width:100%}
/*-----------END SLIDE 24 CSS-----------*/

/*-----------START SLIDE 25 CSS-----------*/
.slide25 .pdfmaincontent p{padding-left: 38%;margin-top: -6%;font-size: 24px;font-weight: 600;line-height: 28px;}
.slide25 .pdfmaincontent p span{color:#b6e600;}
.slide25 .pdfmaincontent .pdfmaincontentinnerbottom{margin-top: 30px;display: flex;align-items: flex-start;justify-content: space-between;}
.slide25 .pdfmaincontentinnerbottominner{width: 45%;}
.slide25 .pdfmaincontentinnerbottominner p{padding-left: 0 !important;margin-top: 0 !important;font-size: 26px !important;line-height: 34px;}
.slide25 .pdfmaincontentinnerbottom .pdfmainimgwrapper{background-color: #eeeeeeff;padding: 8px;width: 69%;}
.slide25 .pdfmaincontentinnerbottom .pdfmainimgwrapper img{width:100%}
/*-----------END SLIDE 25 CSS-----------*/

/*-----------START SLIDE 26 CSS-----------*/
.slide26 .pdfmaincontent p{padding-left: 38%;margin-top: -6%;font-size: 24px;font-weight: 600;line-height: 28px;}
.slide26 .pdfmaincontent p span{color:#b6e600;}
.slide26 .pdfmaincontent .pdfmaincontentinnerbottom{margin-top: 30px;display: flex;align-items: flex-start;justify-content: space-between;}
.slide26 .pdfmaincontentinnerbottominner{width: 45%;}
.slide26 .pdfmaincontentinnerbottominner p{padding-left: 0 !important;margin-top: 0 !important;font-size: 18px !important;}
.slide26 .pdfmaincontentinnerbottom .pdfmainimgwrapper{background-color: #eeeeeeff;padding: 8px;width: 69%;}
.slide26 .pdfmaincontentinnerbottom .pdfmainimgwrapper img{width:100%}
/*-----------END SLIDE 26 CSS-----------*/

/*-----------START SLIDE 27 CSS-----------*/
.slide27 .pdfmaincontent p{padding-left: 38%;margin-top: -6%;font-size: 24px;font-weight: 600;line-height: 28px;}
.slide27 .pdfmaincontent p span{color:#b6e600;}
.slide27 .pdfmaincontent .pdfmaincontentinnerbottom{margin-top: 30px;display: flex;align-items: flex-start;justify-content: space-between;}
.slide27 .pdfmaincontentinnerbottominner{width: 45%;}
.slide27 .pdfmaincontentinnerbottominner p{padding-left: 0 !important;margin-top: 0 !important;font-size: 18px !important;}
.slide27 .pdfmaincontentinnerbottom .pdfmainimgwrapper{background-color: #eeeeeeff;padding: 8px;width: 69%;}
.slide27 .pdfmaincontentinnerbottom .pdfmainimgwrapper img{width:100%}
/*-----------END SLIDE 27 CSS-----------*/

/*-----------START SLIDE 28 CSS-----------*/
.slide28 .pdfmaincontent p{padding-left: 38%;margin-top: -6%;font-size: 21px;font-weight: 600;line-height: 30px;}
.slide28 .pdfmaincontent p span{color:#b6e600;}
.slide28 .pdfmaincontent p.parabottom{margin-top: 20px;margin-bottom: 46px;}
/*-----------END SLIDE 28 CSS-----------*/

/*-----------START SLIDE 29 CSS-----------*/
.slide29 .pdfmaincontent h2{padding-left: 35%;margin-top: -6%;font-size: 26px;}
.slide29 .pdfmaincontent h1{font-size: 28px;margin-top: 20px;margin-bottom:20px}
.slide29 .pdfmaincontent p{font-size: 18px;}
.slide29 .pdfmaincontent p a{color:#b6e600;}
.slide29 .pdfmaincontent h4{font-size: 28px;margin-top: 20px;margin-bottom:20px;font-weight: 500;}
.slide29 .logolists{background-color: #fff;padding: 0px 10px;border-radius: 20px;display: flex;align-items: center;justify-content: space-around;}
.slide29 .logolists .logoimg{flex:1}
.slide29 .logolists .logoimg img{width:100%}
/*-----------END SLIDE 29 CSS-----------*/

