
a{color:var(--links);text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}
.clear{clear:both;overflow:hidden}
img{border:0;outline:0}
a img{outline:none}
a{outline:none;cursor:pointer}
a:active,a:focus{outline:none}
:active,:focus{outline:none;-moz-outline-style:none}
:link:focus,:visited:focus{outline:none}
html{overflow-y:scroll;overflow-x:hidden;}
html,body{height:100%;width:100%;position:relative}
button{cursor: pointer;word-wrap:break-word!important;white-space:unset!important;overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;line-height:normal!important}
body{background-color: #000;margin: 0;}

.homepagemain{margin: 0;padding: 0;}
.maincontainer{margin: 0 auto;padding: 0;display: block;width:892px;background-image: url(../images/bgoverlay.png);background-repeat: no-repeat;background-position:center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;display:block;}
.headerblock{margin: 0 auto;padding: 0;display: block;width:100%;background-image: url(../images/headerbg.png);background-repeat: no-repeat;background-position:center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;display:block;}
.footerblock{margin: 0 auto;padding: 0;display: block;width:100%;background-image: url(../images/footerrbg.png);background-repeat: no-repeat;background-position:center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;display:block;}