
a{color:var(--links);text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}
.clear{clear:both;overflow:hidden}
img{border:0;outline:0}
a img{outline:none}
a{outline:none;cursor:pointer}
a:active,a:focus{outline:none}
:active,:focus{outline:none;-moz-outline-style:none}
:link:focus,:visited:focus{outline:none}
html{overflow-y:scroll;overflow-x:hidden;}
html,body{height:100%;width:100%;position:relative;font-family: 'Arial', sans-serif;}
button{cursor: pointer;word-wrap:break-word!important;white-space:unset!important;overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;line-height:normal!important}
body{background-color: #000;margin: 0;}

.pdfhomepagemain{margin: 0;padding: 0;}
.pdfmaincontainer{margin: 0 auto;padding: 0;display: block;width:892px;background-image: url(../images/common/bgoverlay.png);background-repeat: no-repeat;background-position:center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;display:block;}
.pdfheaderblock{margin: 0 auto;padding: 0;display: block;width:100%;background-image: url(../images/common/headerbg.png);background-repeat: no-repeat;background-position:left top;-webkit-background-size: 100% auto;-moz-background-size: 100% auto;-o-background-size: 100% auto;background-size: 100% auto;display:block;min-height: 106px;}
.pdfheaderblockinner{padding:15px}
.pdffooterblock{margin: 0 auto;padding: 0;display: block;width:100%;background-image: url(../images/common/footerrbg.png);background-repeat: no-repeat;background-position:left top;-webkit-background-size: 100% auto;-moz-background-size: 100% auto;-o-background-size: 100% auto;background-size: 100% auto;display:block;min-height: 87px;}
.pdfmaincontentinner{width: 90%;margin: 0 auto;padding: 0;display: block;}

.pdfheaderblock .pdflogowrapper{width: 302px;display: block;}
.pdfheaderblock .pdflogowrapper img{width:100%}
.pdfmaincontent h2{margin: 0;padding: 0;color:#b6e600;text-transform: uppercase;}
.pdfmaincontent h2 span{text-transform: capitalize;}
.pdfmaincontent h1{margin: 0;padding: 0;color:#fff;text-transform: uppercase;}

.slide29 .pdfmaincontent h2{padding-left: 35%;margin-top: -6%;font-size: 26px;}
.slide29 .pdfmaincontent h1{font-size: 29px;margin-top: 10px;}